# Dependency directories
*/node_modules/
*/jspm_packages/

# dotenv environment variables file
*/.env

# Logs
*/logs
*/*.log
*/npm-debug.log*

# Optional npm cache directory
*/.npm

# Optional eslint cache
*/.eslintcache

# Output of 'npm pack'
*/*.tgz

# Next.js directory
*/.next/

# Mac OS에서 폴더 메타데이터 저장하는 파일
*/.DS_Store
.DS_Store

# AWS EC2 키 페어
*/.pem